<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Error 403</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="/bootstrap/css/errorpage.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="error-template">
                <h1> Oops!</h1>
                <h2> 403 Forbidden</h2>
                <div class="error-details">
                    You do not have access!
                </div>
                <div class="error-actions">
                    <a href="/index.php" class="btn btn-success"><span class="glyphicon glyphicon-home"></span> На
                        главную </a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>