<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset= "UTF-8">
    <title>Добавление пользователя</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .weight {
            width:25%;
            margin:20px;
        }

    </style>


</head>
<body>

<div class="weight">
<div class="form-group" >
<form action="../Controllers/create.php" method="post" role="form">
<fieldset>
    <label for="name">Имя:</label><br/>
    <input type="text" name="name" size="30" class="form-control" placeholder="Введите имя" ><br/>
    <label for="email">Email:</label><br/>
    <input type="text" name="email" size="30" class="form-control" placeholder="Введите email"><br/>
    <button type="submit" name="submit" class="btn btn-block btn-success">Добавить пользователя<br/></button>
</fieldset>
</form>
</div>
    <div>
        <a href="/index.html" class="btn btn-success"><span class="glyphicon glyphicon-home"></span> На главную </a>
    </div>
</div>
</body>
</html>