<?php require('session.php'); ?>
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Добавление пользователя</title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bootstrap/css/view.css" rel="stylesheet">
    <script type="text/javascript" src="../js/valida.2.1.6.js"></script>


</head>
<body>
<div class="container">
    <div class="row">
        <div class="well col-lg-12"><p class="text-center text-success h3">Blog.dev</p></div>

    </div>

    <div class="row">
        <div class="well col-lg-3 col-lg-offset-0  ">

            <div class="btn-group-vertical btn-block">

                <a href="../Views/create_user.html" class="btn btn-success ">Добавление пользователя</a>
                <a href="../Views/user_list.php" class="btn  btn-success">Список всех пользователей</a>


            </div>
        </div>
        <div class="well col-lg-9">
            <a href="/index.php" class="btn btn-group-vertical btn-success"><span class="glyphicon glyphicon-home"></span> На
                главную </a><br/>
            <br/>
            <div class="form-group">
                <form action="" class="valida" id="form" method="post" role="form">
                    <fieldset>
                        <div class="form-group">
                            <label for="name">Имя:</label><br/>
                            <input type="text" name="name" id="name" placeholder="Введите имя" class="form-control"
                                   filter="text" required="true"><br/>
                        </div>
                        <div class="form-group">
                            <label for="email">Email:</label><br/>
                            <input type="text" name="email" id="email" placeholder="Введите email"
                                   class="form-control"
                                   required="true" filter="email" data-invalid="Must be a valid email address"
                                   size="30">
                            <div style="color: red" id="results"></div>
                            <br/>

                        </div>

                        <button type="submit" name="submit" id="submit" class="btn btn-block btn-success">Добавить
                            пользователя<br/></button>

                    </fieldset>

                </form>
            </div>


        </div>
    </div>
</div>

<!-- center page------------------->


<script type="text/javascript" src="../js/jquery-2.2.2.min.js"></script>
<script type="text/javascript" src="../js/valida.2.1.6.js"></script>
<script type="text/javascript" src="../js/validation.js"></script>
<script type="text/javascript" src="../js/create_user.js"></script>
</body>
</html>
