<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title> Посты пользователя </title>
    <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .weight {
            width:20%;
            margin:20px;
        }

    </style>
</head>
<body>
<div class="weight">
    <div class="form-group" >
        <form action="user_posts.php" method="post" role="form">
            <fieldset>
                <label for="email">Email:</label><br/>
                <input type="text" name="email" size="30" class="form-control" placeholder="Введите email пользователя"><br/>
                <button type="submit" name="submit" class="btn btn-block btn-success">Найти пользователя<br/>
            </fieldset>
            <br/>
        </form>
    </div>
</div>


</body>
</html>